.focused-app {
  margin-left: 0px;
  margin-right: 8px;
  border: 0px hidden rgba(255, 255, 255, 0);
  border-radius: 0px;
  padding: 0px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.hidden-app {
  margin-left: 0px;
  margin-right: 8px;
  border: 0px hidden rgba(255, 255, 255, 0);
  border-radius: 0px;
  padding: 0px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
